* {
    bg-col:  #000000;
    bg-col-light: #111111;
    border-col: #ffffff;
    selected-col: #262626;
    blue: #ffffff;
    fg-col: #ffffff;
    fg-col2: #ffffff;
    grey: #9a9a9a;
    width: 600;
}
