configuration{
    modi: "run,drun,window";
    lines: 5;
    font: "JetBrainsMono Nerd Font 14";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: "   window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "catppuccin"

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    height: 380px;
    border: 1px;
    border-color: @border-col;
    border-radius: 20px;
    background-color: @bg-col;
}

mainbox {
    background-color: transparent;
    padding: 16px;
    spacing: 10px;
}

inputbar {
    children: [prompt,entry];
    background-color: @input-col;
    border-radius: 14px;
    padding: 6px;
    spacing: 10px;
}

prompt {
    background-color: @blue;
    padding: 8px 14px;
    text-color: #000000;
    border-radius: 10px;
    margin: 0px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 8px 4px;
    margin: 0px;
    text-color: @fg-col;
    background-color: transparent;
    placeholder: "Search";
    placeholder-color: @grey;
}

listview {
    border: 0px;
    padding: 4px 0px 0px;
    margin: 0px;
    columns: 2;
    spacing: 4px;
    background-color: transparent;
}

element {
    padding: 8px 10px;
    spacing: 10px;
    border-radius: 12px;
    background-color: transparent;
    text-color: @fg-col;
}

element-icon {
    size: 25px;
    vertical-align: 0.5;
}

element selected {
    background-color: @selected-col;
    text-color: @fg-col2;
}

mode-switcher {
    spacing: 6px;
    background-color: transparent;
}

button {
    padding: 10px;
    border-radius: 12px;
    background-color: @bg-col-light;
    text-color: @grey;
    vertical-align: 0.5;
    horizontal-align: 0.5;
}

button selected {
    background-color: @selected-col;
    text-color: @fg-col2;
}
